@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SDMiSaeng';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SDMiSaeng.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#chattingRoom{
	
	width:100%;
    height: 100%;
     border: 1px solid black;
	 border-radius:5px;
}
#chattingReceiver{
	height:10%;
	border-bottom:1px dashed black;
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding: 0 10px;
	
	  #interlocutor{
    	display:flex;
    	align-items:center;
    	 font-family: 'GangwonEdu_OTFBoldA';
    	img{
    		border-radius:50%;
    		width:20px;
    		height:20px;
    		margin-right:10px;
    		border:0.5px solid black;
    	}
    	
    }
	
}
#chattingContents{
	height:90%;
	width:100%;
	font-size: 0.8rem;
}
#chattingContents>#chatMessageArea{
	height:90%;
	width:100%;
	overflow-y: scroll;
	overflow-x: hidden;
    position: relative;
}
#chattingContents>#chatRoomBottom{
	display:flex;
	justify-content: space-between;
	height:10%;
	border-top : 1px dashed gray;
	align-items : center;
	
	input{
		width:80%;
		font-family: 'SDMiSaeng';
		height:90%;
		border:none;
		font-size:1rem;
		
	}
	button{
		font-family: 'SDMiSaeng';
		width: 20%;
        font-size: 1.1rem;
        height:100%;
	}
}

.backColorGray{
	 font-family: 'GangwonEdu_OTFBoldA';
	position: relative;
    left: 30%;
    width: 70%;
    margin: 5px 0;
    padding: 5px;
    display: flex;
    justify-content: flex-end;

    b{
    	border: 0.1px solid gray;
        border-radius: 3px;
        margin-left: 5px;
        width: 100%;
        padding: 5px;
    }
	
}
.backColorYellow{
	 font-family: 'GangwonEdu_OTFBoldA';
	position: relative;
    left: 0%;
    width: 70%;
   	margin : 5px 0;
    padding : 5px;
    display:flex;

    b{
    	border:0.1px solid gray;
    	border-radius:3px;
    	margin : 0px 5px;
    	width:95%;
    	padding : 5px;
    }
	
}
i:hover{
	cursor:pointer;
}
.enter{
	margin:5px;
	 font-family: 'GangwonEdu_OTFBoldA';
}
#checkOut{
	position:fixed;
	left:43%;
	top:50%;
	width:300px;
	height:200px;
	border : 1px solid black;
	border-radius:3px;
	background-color : black;
	
	color:white;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	z-index:1;
	
	button{
		font-family: 'SDMiSaeng';
		font-size:1rem;
		margin-top:10px;
		
	}
	button:hover{
		cursor:pointer;
		
	}
}
.hasUrl{
	display: inline-block;
    width: 100%;
   overflow-wrap: break-word;
    padding-top: 5px;
}