@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#header{
	position:absolute;
	z-index:1;
	width:100%;
}
#content{
	position:relative;
	z-index:0;
	height:100vh;
	padding-top:10vh;
	display:flex;
	align-items:center;
	margin:0 50px;
}
#content>#userSideBar{
	height:80%;
	width:15%;
	margin-left : 10%;
	margin-right:5%;
	
}
#content>#container{
	width: 75%;
	height:80%;
    display: flex;
    flex-direction: column;
    margin-right: 10%;
}
#container>h3{
	font-size : 1.7rem;
	font-weight:bold;
	margin : 20px;
	font-family: 'GangwonEdu_OTFBoldA';
}
#container>form{
	width:90%;
	border : 2px solid black;
	border-radius : 30px;
	height:100%;
	 display: flex;
    align-items: center;
    padding: 40px 0px;
    justify-content: center;
   
}

form input{
	width : 200px;
	height:40px;
	border-radius:7px;
	font-family: 'GangwonEdu_OTFBoldA';
	font-size : 1.1rem;
	margin-bottom:5px;
}
#left, #right{
	width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#left div, #right div{
	display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
form span{
	font-family: 'GangwonEdu_OTFBoldA';
	font-size : 1.1rem;
}
div#btn{
	width:300px;
	display: flex;
   	justify-content: space-around;
}
button{
	font-size : 1rem;
	font-family: 'GangwonEdu_OTFBoldA';
	border-radius:10px;
	padding-top:6px;
	border:none;
	width:105px; 
	height:35px;
	cursor:pointer;
	
}
button:hover{
	border : 1px solid black;
}
#pwdCheck{
	display:flex;
	flex-direction:column;
	justify-content : space-evenly;
	height:70%;
}
#pwdCheck #leave{
	font-size:1.4rem;
}
#pwdCheck div span{
	margin-right:20px;
}
#userFloating{
	position: fixed;
    z-index: 1;
    bottom: 6%;
    right: 4%;
}	