@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ownglyph_jiwoosonang';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/Ownglyph_jiwoosonang.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

h1{
	margin-top: 10vh;
	font-size: 2rem;
	font-family: 'Ownglyph_jiwoosonang';
	font-weight: bolder;
}

h2{
	font-weight: bold;
}

#page{
	font-family: 'GangwonEdu_OTFBoldA';
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: row;
}

.roompicture {
	margin-left: 150px;
	width: 500px;
	display: flex;
	flex-direction: center;
	justify-content: center;
	margin-top: 40px;
}

.roompicture img{
	overflow: hidden;
    object-fit: contain;
    border: 1px solid;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 400px;
}

h1{
	padding: 30px;
}

#reserveGuest{
	width: 50%;
	margin: 20px auto;
}

form{
	margin: 0 auto;
	background-color: rgba(365, 365, 365, 0.2);	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 20px;
}

form input {
	font-family: 'GangwonEdu_OTFBoldA';
	margin: 10px;
	width: 200px;
	padding-left: 10px;
}

form select {
	font-family: 'Ownglyph_jiwoosonang';
	padding: 10px;
	margin: 10px;
}

form select option{
	font-size: 15px;
}

#select{
	margin: 0 auto;
	display : flex;
	justify-content: space-evenly;
	width: 100%;
	padding-bottom: 20px;
}

.selection {
	margin-top: 20px;
	font-weight: bold;
}

#roomCode{
	width: 120px;
}

#agree{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

#agreetext{
	margin-top: 10px;
}

#agree input{
	height: 15px;
}

#agreement{
	width: 35px;
}

#selection-summary{
	margin: 10px;
	margin-top: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

#room{
	display: flex;

}
#checkbox{
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}

#checkbox label {
    display: block; /* 레이블을 블록 요소로 설정하여 전체 줄을 차지하도록 */
    margin-top: 10px; /* 레이블 위에 여백 추가 */
}

#submit{
	padding: 10px;
	padding-top: 15px;
}