<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardNotice">
	<resultMap type="BoardNotice" id="BoardNoticeMap">
		<id property="noticeCode" column="notice_code"/>
		<result property="userCode" column="user_code"/>	
		<result property="noticeTitle" column="notice_title"/>	
		<result property="noticeContent" column="notice_content"/>
		<result property="noticeWritedate" column="notice_writedate"/>
		<result property="noticeView" column="notice_view"/>
		<result property="important" column="important"/>
		<collection property="user" resultMap="userMap"/>
	</resultMap>
	
	<resultMap type="User" id="userMap">
		<id property="userCode" column="user_code"/>
		<result property="userId" column="user_id"/>
		<result property="userRealName" column="user_name"/>
		<result property="userNickname" column="user_nickname"/>	
		<result property="userImgUrl" column="user_img_url"/>
		<result property="userPhone" column="user_phone"/>
		<result property="userAdr" column="user_adr"/>
		<result property="userAdrDetail" column="user_adr_detail"/>
		<result property="userEmail" column="user_email"/>
		<result property="userAdmin" column="user_admin"/>	
	</resultMap>
	
	<resultMap type="NoticeBookmark" id="NoticeBookmarkMap">
		<id property="bookmarkCode" column="bookmark_code"/>
		<result property="userCode" column="user_code"/>	
		<result property="noticeCode" column="notice_code"/>
	</resultMap>
	
	<!-- 공지 작성 -->
	<insert id="registerNotice" parameterType="boardNotice" useGeneratedKeys="true" keyProperty="noticeCode" keyColumn="noticeCode">
		INSERT INTO board_notice(user_code, notice_title, notice_content, important)
		VALUES(#{userCode}, #{noticeTitle}, #{noticeContent}, #{important})
	</insert>
	
	<!-- 공지 리스트 -->
	<select id="noticeList" parameterType="BoardNoticePaging" resultMap="BoardNoticeMap">
		SELECT board_notice.*, user.*
		FROM board_notice
		JOIN user
		USING (user_code)
		<where>
			<choose>
				<when test="select=='all'">
					notice_title LIKE CONCAT('%', #{keyword}, '%')
					OR notice_content LIKE CONCAT('%', #{keyword}, '%')
				</when>
				<when test="select=='title'">
					notice_title LIKE CONCAT('%', #{keyword}, '%')
				</when>
				<when test="select=='content'">
					notice_content LIKE CONCAT('%', #{keyword}, '%')
				</when>
				<when test="select == 'nickname'">
					user_nickname LIKE CONCAT('%', #{keyword}, '%')
				</when>
			</choose>
		</where>
		ORDER BY important DESC, notice_code DESC
		LIMIT #{offset}, #{limit}
	</select>
	
	<!-- 공지 리스트 total -->
	<select id="noticeListTotal" parameterType="BoardNoticePaging" resultType="int">
		SELECT count(*) FROM board_notice
		JOIN user
		USING (user_code)
		<where>
			<choose>
				<when test="select == 'all'">
					notice_title LIKE CONCAT('%',#{keyword},'%') 
				OR notice_content LIKE CONCAT('%',#{keyword},'%')
				</when>
				<when test="select == 'title'">
					notice_title LIKE CONCAT('%',#{keyword},'%')
				</when>
				<when test="select == 'content'">
					notice_content LIKE CONCAT('%',#{keyword},'%')
				</when>
				<when test="select == 'nickname'">
					user_nickname LIKE CONCAT('%', #{keyword}, '%')
				</when>
			</choose>
		</where>
	</select>
	
	<!-- 공지 하나 보기 -->
	<select  id="noticeOne" parameterType="int" resultMap="BoardNoticeMap">
		SELECT board_notice.*, user.*
		FROM board_notice
		JOIN user
		USING (user_code)
		WHERE notice_code=#{noticeCode}
	</select>
	
	<!-- 공지 조회수 증가 -->
	<update id="addViewCount" parameterType="int">
		UPDATE board_notice
		SET notice_view = notice_view + 1
		WHERE notice_code = #{noticeCode}
	</update>
	
	<!-- 삭제 -->
	<delete id="deleteNotice" parameterType="int">
		DELETE FROM board_notice
		WHERE notice_code=#{noticeCode}
	</delete>
	
	<!-- 수정 -->
	<update id="updateNotice" parameterType="BoardNotice">
		UPDATE board_notice
		SET notice_title=#{noticeTitle},
			notice_content=#{noticeContent},
			important=#{important}
		WHERE notice_code=#{noticeCode}
	</update>
	
	<!-- 로그인한 회원의 북마크 글 리스트 조회하기 -->
	<select id="bookmarked" parameterType="BoardNoticePaging" resultMap="BoardNoticeMap">
		SELECT *
		FROM notice_bookmark
		JOIN board_notice
		USING (notice_code)
		WHERE notice_bookmark.user_code=#{userCode}
	</select>
	
	<!-- 북마크 글 리스트 total -->
	<select id="bookmarkedTotal" parameterType="int" resultType="int">
		SELECT count(*)
		FROM notice_bookmark
		WHERE user_code=#{userCode}
	</select>
	
	<!-- id로 userCode 조회 -->
	<select id="findUserCode" parameterType="String" resultType="int">
		SELECT user_code
		FROM user
		WHERE user_id = #{userId}
	</select>
	
	<!-- id로 user 조회 -->
		<select id="findUserId" parameterType="String" resultMap="userMap">
		SELECT *
		FROM user
		WHERE user_code = (
		        SELECT user_code 
		        FROM user 
		        WHERE user_id = #{id}
    		)
	</select>
	
	<!-- 내가 작성한 공지글 보기 (관리자) -->
	<select id="mynoticeList" parameterType="BoardNoticePaging" resultMap="BoardNoticeMap">
		SELECT board_notice.*, user.*
		FROM board_notice
		JOIN user
		USING (user_code)
		WHERE user_code=#{userCode}
		ORDER BY important DESC, notice_code DESC
		LIMIT #{offset}, #{limit}
	</select>
	
	<!-- 공지 리스트 total -->
	<select id="mynoticeListTotal" parameterType="int" resultType="int">
		SELECT count(*)
		FROM board_notice
		WHERE user_code=#{userCode}
	</select>
</mapper>