<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardFreeMapper">
	<resultMap type="BoardFree" id="boardFreeMap">
		<id property="freeCode" column="free_code"/>
		<result property="userCode" column="user_code"/>	
		<result property="freeTitle" column="free_title"/>	
		<result property="freeContent" column="free_content"/>
		<result property="freeWritedate" column="free_writedate"/>
		<result property="freeView" column="free_view"/>
		<collection property="user" resultMap="userMap"/>
		
	</resultMap>
	
	<resultMap type="User" id="userMap">
		<id property="userCode" column="user_code"/>
		<result property="userId" column="user_id"/>
		<result property="userRealName" column="user_name"/>
		<result property="userNickname" column="user_nickname"/>	
		<result property="userImgUrl" column="user_img_url"/>
		<result property="userPhone" column="user_phone"/>
		<result property="userAdr" column="user_adr"/>
		<result property="userAdrDetail" column="user_adr_detail"/>
		<result property="userEmail" column="user_email"/>
		<result property="userAdmin" column="user_admin"/>	
	</resultMap>
	
	<resultMap type="FreeLike" id="freeLikeMap">
		<id property="likeCode" column="like_code"/>
		<result property="userCode" column="user_code"/>
		<result property="freeCode" column="free_code"/>
	</resultMap>
	
	<!-- 게시물 작성 -->
	<insert id="registerBoardFree" parameterType="BoardFree" useGeneratedKeys="true" keyColumn="free_code" keyProperty="freeCode">
	INSERT INTO board_free(user_code, free_title, free_content)
	VALUES(#{userCode}, #{freeTitle}, #{freeContent})
	</insert>
	
	<!-- 게시물 전체보기 -->
	<select id="listBoardFree" parameterType="BoardFreePaging" resultMap="boardFreeMap">
	SELECT A.*, B.user_nickname 
	FROM board_free as A 
	JOIN user as B 
	USING (user_code)
	<where>
		<choose>
			<when test="select=='allFind'">
				free_title LIKE CONCAT('%', #{keyword}, '%')
				OR free_content LIKE CONCAT('%', #{keyword}, '%')
			</when>
			<when test="select=='titleFind'">
				free_title LIKE CONCAT('%', #{keyword}, '%')
			</when>
			<when test="select=='contentFind'">
				free_content LIKE CONCAT('%', #{keyword}, '%')
			</when>
		</choose>
	</where>
	ORDER BY A.free_code DESC
	LIMIT #{offset}, #{limit}
	</select>
	
	<select id="countBoardFree" parameterType="BoardFreePaging" resultType="int">
	SELECT count(*) FROM board_free
	<where>
		<choose>
			<when test="select=='allFind'">
				free_title LIKE CONCAT('%', #{keyword}, '%')
				OR free_content LIKE CONCAT('%', #{keyword}, '%')
			</when>
			<when test="select=='titleFind'">
				free_title LIKE CONCAT('%', #{keyword}, '%')
			</when>
			<when test="select=='contentFind'">
				free_content LIKE CONCAT('%', #{keyword}, '%')
			</when>
		</choose>
	</where>
	</select>
	
	<!-- 게시물 하나보기 -->
	<select id="oneBoardFree" parameterType="int" resultMap="boardFreeMap">
		SELECT A.*, B.*
		FROM board_free as A
		JOIN user as B
		USING (user_code)
		WHERE free_code=#{freeCode}
	</select>
	
	<!-- 조회수 -->
	<update id="updateFreeView" parameterType="int">
		UPDATE board_free
		SET free_view=free_view+1
		WHERE free_code=#{freeCode}
	</update>
	
	<!-- 게시물 삭제 -->
	<delete id="deleteBoardFree" parameterType="int">
	 DELETE FROM board_free
	 WHERE free_code=#{freeCode}
	</delete>
	
	<!-- 게시물 수정 -->
	<update id="updateBoardFree" parameterType="BoardFree">
	UPDATE board_free 
	SET free_title=#{freeTitle},
		free_content=#{freeContent}
	WHERE free_code=#{freeCode}
	</update>

	<!-- 좋아요 누른 게시물 보기 -->
	<select id="viewListLiked" parameterType="LikedPaging" resultMap="boardFreeMap">
	SELECT a.*
	FROM board_free a
	JOIN free_like b
	USING (free_code)
	WHERE b.user_code=#{userCode}
	ORDER BY a.free_code DESC
	LIMIT #{offset}, #{limit}
	</select>
	
	<select id="countViewListLiked" parameterType="int" resultType="int">
	SELECT count(*)
	FROM board_free a
	JOIN free_like b
	USING (free_code)
	WHERE b.user_code=#{userCode}
	ORDER BY a.free_code DESC
	</select>
</mapper>