<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardFreeCommentMapper">
	<resultMap type="BoardFreeComment" id="boardFreeCommentMap">
		<id column="free_comment_code" property="freeCommentCode"/>
		<result column="free_code" property="freeCode"/>
		<result column="user_code" property="userCode"/>
		<result column="free_comment_content" property="freeCommentContent"/>
		<result column="free_comment_writedate" property="freeCommentWritedate"/>
		<result column="comment_parent_code" property="commentParentCode"/>
		<collection property="user" resultMap="userMap"/>
	</resultMap>
	
	<resultMap type="User" id="userMap">
		<id property="userCode" column="user_code"/>
		<result property="userId" column="user_id"/>
		<result property="userRealName" column="user_name"/>
		<result property="userNickname" column="user_nickname"/>	
		<result property="userImgUrl" column="user_img_url"/>
		<result property="userPhone" column="user_phone"/>
		<result property="userAdr" column="user_adr"/>
		<result property="userAdrDetail" column="user_adr_detail"/>
		<result property="userEmail" column="user_email"/>
		<result property="userAdmin" column="user_admin"/>	
		
	</resultMap>
	
	<!-- 댓글 작성 -->
	<insert id="registerBoardFreeComment" parameterType="BoardFreeComment" useGeneratedKeys="true" keyColumn="free_comment_code" keyProperty="freeCommentCode">
	INSERT INTO board_free_comment(free_code, user_code, free_comment_content, comment_parent_code)
	VALUES(#{freeCode}, #{userCode}, #{freeCommentContent}, #{commentParentCode})
	</insert>
	
	<!-- 게시물 별 댓글 전체 보기 + 페이징-->
	<select id="viewAllBoardFreeComment" parameterType="BoardFreePaging" resultMap="boardFreeCommentMap">
	select A.*, B.*
	FROM board_free_comment as A
	JOIN user as B
	USING (user_code)
	WHERE free_code=#{freeCode}
	ORDER BY A.free_comment_code DESC
	LIMIT #{offset}, #{commentLimit}
	</select>
	
	<!-- 페이징 관련 전체 갯수  -->
	<select id="countBoardFreeComment" parameterType="int" resultType="int">
	SELECT count(*) FROM board_free_comment
	WHERE free_code=#{freeCode}
	</select>
	
	<!-- 댓글 삭제 -->
	<delete id="deleteBoardFreeComment" parameterType="int">
	DELETE FROM board_free_comment
	WHERE free_comment_code=#{freeCommentCode}
	</delete>
	
	<!-- 댓글 수정 -->
	<update id="updateBoardFreeComment" parameterType="BoardFreeComment">
	UPDATE board_free_comment
	SET free_comment_content=#{freeCommentContent}
	WHERE free_comment_code=#{freeCommentCode}
	</update>
	
	<!-- 댓글 code로 게시물 code 찾기 -->
	<select id="findFreeCodeByCommentCode" parameterType="int" resultType="int">
	SELECT free_code
	FROM board_free_comment
	WHERE free_comment_code=#{freeCommentCode}
	</select>
	
	<!-- 대댓글 작성 -->
	<insert id="registerReplyComment" parameterType="BoardFreeComment" useGeneratedKeys="true" keyColumn="free_comment_code" keyProperty="freeCommentCode">
	INSERT INTO board_free_comment(free_code, user_code, free_comment_contenet, comment_parent_code)
	VALUES (#{freeCode}, #{userCode},#{freeCommentContent},#{commentParentCode})
	</insert>
	
	<!-- 대댓글 전체 보기 -->
	<select id="viewAllReplyComment" parameterType="int" resultType="BoardFreeComment">
	SELECT *
	FROM board_free_comment
	WHERE comment_parent_code=#{commentParentCode}
	</select>
	
	<!-- 대댓글 삭제 -->
	<delete id="deleteReplyComment" parameterType="int">
	DELETE FROM board_free_comment
	WHERE free_comment_code=#{freeCommentCode}
	</delete>
</mapper>