<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chatMapper">
	<resultMap type="Chat" id="chatMap">
		<id column="chat_code" property="chatCode"/>
		<result column="chat_message" property="chatMessage"/>
		<result column="chat_time" property="chatTime"/>
		<result column="chat_room_code" property="chatRoomCode"/>
		<result column="user_number" property="userNumber"/>
	</resultMap>
	
	<resultMap type="ChatRoom" id="chatRoomMap">
		<id column="chat_room_code" property="chatRoomCode"/>
		<result column="user_number1" property="userNumber1"/>
		<result column="user_number2" property="userNumber2"/>
	</resultMap>

	<!-- 채팅방 생성 -->
	<insert id="insertChatRoom" parameterType="ChatRoom" useGeneratedKeys="true" keyColumn="chat_room_code" keyProperty="chatRoomCode">
	INSERT INTO chat_room(user_number1, user_number2)
	VALUES(#{userNumber1}, #{userNumber2})
	</insert>
	
	<!-- 채팅 생성 -->
	<insert id="insertChatting" parameterType="Chat" useGeneratedKeys="true" keyColumn="chat_code" keyProperty="chatCode">
	INSERT INTO chat(chat_message, chat_room_code, user_number)
	VALUES (#{chatMessage}, #{chatRoomCode}, #{userNumber})
	</insert>
	
	<!-- 삭제 안된 채팅방 + 이미 회원 두명이 일치하는 경우 중복 확인 -->
	<select id="checkChatRoom" parameterType="ChatRoom" resultMap="chatRoomMap">
	SELECT *
	FROM chat_room
	WHERE (user_number1=#{userNumber1} AND user_number2=#{userNumber2}) OR (user_number1=#{userNumber2} AND user_number2=#{userNumber1})
	</select>
	
	<!-- chat_room_code로 ChatRoom 찾기 -->
	<select id="chatRoomFindByRoomCode" parameterType="int" resultMap="chatRoomMap">
	SELECT *
	FROM chat_room
	WHERE chat_room_code=#{chatRoomCode}
	</select>
	
	<!-- 대화 내용 전체 확인 -->
	<select id="viewAllChatting" parameterType="int" resultMap="chatMap">
	SELECT *
	FROM chat
	WHERE chat_room_code=#{chatRoomCode}
	</select>
	
	<!-- chatCode로 Chat 찾기 -->
	<select id="viewChattingByChatCode" parameterType="int" resultMap="chatMap">
	SELECT *
	FROM chat
	WHERE chat_code=#{chatCode}
	</select>
	
	<!-- 채팅 삭제 -->
	<delete id="deleteChatting" parameterType="int">
	DELETE FROM chat
	WHERE chat_room_code=#{chatRoomCode}
	</delete>
	<!-- 채팅룸 삭제 -->
	<delete id="deleteChatRoom" parameterType="int">
	DELETE FROM chat_room
	WHERE chat_room_code=#{chatRoomCode}
	</delete>
	
</mapper>