<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="noteMapper">
	<resultMap type="Note" id="noteMap">
		<id column="note_code" property="noteCode"/>
		<result column="note_sender" property="noteSender"/>
		<result column="note_receiver" property="noteReceiver"/>
		<result column="note_title" property="noteTitle"/>
		<result column="note_content" property="noteContent"/>
		<result column="note_writedate" property="noteWritedate"/>
		<result column="sender_delete" property="senderDelete"/>
		<result column="receiver_delete" property="receiverDelete"/>
		<collection property="user" resultMap="userMap"></collection>
	</resultMap>
	
	<resultMap type="User" id="userMap">
		<id property="userCode" column="user_code"/>
		<result property="userId" column="user_id"/>
		<result property="userRealName" column="user_name"/>
		<result property="userNickname" column="user_nickname"/>	
		<result property="userImgUrl" column="user_img_url"/>
		<result property="userPhone" column="user_phone"/>
		<result property="userAdr" column="user_adr"/>
		<result property="userAdrDetail" column="user_adr_detail"/>
		<result property="userEmail" column="user_email"/>
		<result property="userAdmin" column="user_admin"/>	
	</resultMap>
	
	<!-- 쪽지 보내기 -->
	<insert id="registerNote" parameterType="Note" useGeneratedKeys="true" keyColumn="note_code" keyProperty="noteCode">
	INSERT INTO note(note_sender, note_receiver, note_title, note_content)
	VALUES (#{noteSender}, #{noteReceiver}, #{noteTitle}, #{noteContent})
	</insert>
	
	<!-- 쪽지 한 개 보기 -->
	<select id="oneViewNote" parameterType="int" resultMap="noteMap">
	SELECT *
	FROM note
	WHERE note_code=#{noteCode}
	</select>
	
	<!-- 회원 쪽지 전체보기 -->
	<select id="viewAllNote" parameterType="NotePaging" resultMap="noteMap">
	SELECT *
	FROM note
	WHERE note_sender=#{userCode} || note_receiver=#{userCode}
	ORDER BY note_code DESC
	LIMIT #{offset}, #{limit}
	</select>
	
	<select id="countNote" parameterType="int" resultType="int">
	SELECT count(*) FROM note
	WHERE note_sender=#{userCode} || note_receiver=#{userCode}
	</select>
	
	<!-- 보낸 쪽지 전체보기 -->
	<select id="viewAllBySender" parameterType="NotePaging" resultMap="noteMap"> 
	SELECT * 
	FROM note
	WHERE note_sender=#{userCode}
	ORDER BY note_code DESC
	LIMIT #{offset}, #{limit}
	</select>
	
	<select id="countSenderNote" parameterType="int" resultType="int">
	SELECT count(*)
	FROM note
	WHERE note_sender=#{userCode}
	</select>
	
	<!-- 받은 쪽지 전체보기  -->
	<select id="viewAllByReceiver" parameterType="NotePaging" resultMap="noteMap"> 
	SELECT * 
	FROM note
	WHERE note_receiver=#{userCode}
	ORDER BY note_code DESC
	LIMIT #{offset}, #{limit}
	</select>
	<select id="countReceiverNote" parameterType="int" resultType="int">
	SELECT count(*)
	FROM note
	WHERE note_receiver=#{userCode}
	</select>
	
</mapper>