<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ReserveGuest">
	<resultMap type="ReserveGuest" id="ReserveGuestMap">
		<id property="reserveGuestCode" column="reserve_guest_code"/>
		<result property="userCode" column="user_code"/>
		<result property="roomType" column="room_type"/>
		<result property="roomCode" column="room_code"/>
		<result property="startTime" column="startTime"/>
		<result property="endTIme" column="endTime"/>
		<result property="regiDate" column="regi_date"/>
		<result property="status" column="status"/>
	</resultMap>
	
	<!-- 게스트하우스 예약 테이블 -->
	
	<!-- 게스트하우스 예약 등록 -->
	<insert id="registerGuestReserve" parameterType="ReserveGuest" useGeneratedKeys="true" keyProperty="reserveGuestCode" keyColumn="reserveGuestCode">
		INSERT INTO reserve_guest(user_code, room_type, room_code, start_time, end_time) 
		VALUES(#{userCode}, #{roomType}, #{roomCode}, #{startTime}, #{endTime})
	</insert>
	
</mapper>