<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UtillBill">
	<resultMap type="Utillbill" id="UtillbillMap">
		<id property="billCode" column="bill_code"/>
		<result property="userCode" column="user_code"/>
		<result property="billYear" column="bill_year"/>
		<result property="billMonth" column="bill_month"/>
		<result property="libUsePeriod" column="lib_use_period"/>
		<result property="libTotalPrice" column="lib_total_price"/>
		<result property="guest1UsePeriod" column="geust1_use_period"/>
		<result property="guest2UsePeriod" column="guest2_use_period"/>
		<result property="roomTotalPrice" column="room_total_price"/>
		<result property="totalPrice" column="total_price"/>
	</resultMap>
	
	<!-- 고지서 테이블 -->

    <!-- 유저 코드로 고지서 조회 -->
    <select id="checkBill" parameterType="Utillbill" resultMap="UtillbillMap">
		SELECT *
		FROM utill_bill
		WHERE user_code=#{userCode} AND bill_month=#{billMonth} AND bill_year=#{billYear}
    </select>

	<!-- 고지서 등록(INSERT) -->
	<insert id="Regibill" parameterType="UtillBill" useGeneratedKeys="true" keyProperty="billCode" keyColumn="billCode">
		INSERT INTO utill_bill(user_code, bill_year, bill_month, lib_use_period, lib_total_price, 
							guest1_use_period, guest2_use_period, room_total_price, total_price)
		VALUES(#{userCode}, #{billYear}, #{billMonth}, #{libUsePeriod}, #{libTotalPrice},
			 #{guest1UsePeriod}, #{guest2UsePeriod}, #{roomTotalPrice}, #{totalPrice})
	</insert>
	
	<update id="updatebill" parameterType="UtillBill">
	    UPDATE utill_bill
	    <set>
	        <if test="guest1UsePeriod == 1">
	            guest1_use_period = guest1_use_period + 1,
	        </if>
	        
	        <if test="guest2UsePeriod == 2">
	            guest2_use_period = guest2_use_period + 2,
	        </if>
	        
	        room_total_price = room_total_price + #{roomTotalPrice}
	    </set>
	    WHERE user_code = #{userCode}
	</update>

</mapper>