<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<typeAlias type="com.recoa.model.vo.Guest" alias="Guest" />
		<typeAlias type="com.recoa.model.vo.ReserveGuest" alias="ReserveGuest" />
		<typeAlias type="com.recoa.model.vo.ReservePaging" alias="ReservePaging"/>
		<typeAlias type="com.recoa.model.vo.User" alias="User" />
		<typeAlias type="com.recoa.model.vo.BoardFree" alias="BoardFree" />
		<typeAlias type="com.recoa.model.vo.BoardFreeImg" alias="BoardFreeImg"/>
		<typeAlias type="com.recoa.model.vo.BoardFreePaging" alias="BoardFreePaging"/>
		<typeAlias type="com.recoa.model.vo.BoardFreeComment" alias="BoardFreeComment"/>
		<typeAlias type="com.recoa.model.vo.FreeLike" alias="FreeLike"/>
		<typeAlias type="com.recoa.model.vo.BoardNotice" alias="BoardNotice" />
		<typeAlias type="com.recoa.model.vo.BoardNoticeImg" alias="BoardNoticeImg"/>
		<typeAlias type="com.recoa.model.vo.BoardNoticePaging" alias="BoardNoticePaging"/>
		<typeAlias type="com.recoa.model.vo.NoticeBookmark" alias="NoticeBookmark"/>
		<typeAlias type="com.recoa.model.vo.Utillbill" alias="Utillbill"/>
		<typeAlias type="com.recoa.model.vo.Note" alias="Note"/>
		<typeAlias type="com.recoa.model.vo.NoteFile" alias="NoteFile"/>
	</typeAliases>

	<!-- 쿼리문 -->
	<mappers>
		<mapper resource="mappers/guest-mapper.xml" />
		<mapper resource="mappers/reserveguest-mapper.xml" />
		<mapper resource="mappers/user-mapper.xml"/>
		<mapper resource="mappers/boardFree-mapper.xml"/>
		<mapper resource="mappers/boardFreeImg-mapper.xml"/>
		<mapper resource="mappers/boardFreeComment-mapper.xml"/>
		<mapper resource="mappers/freeLike-mapper.xml"/>
		<mapper resource="mappers/boardNotice-mapper.xml"/>
		<mapper resource="mappers/boardNoticeImg-mapper.xml"/>
		<mapper resource="mappers/noticeBookmark-mapper.xml"/>
		<mapper resource="mappers/utillbill-mapper.xml"/>
		<mapper resource="mappers/note-mapper.xml"/>
		<mapper resource="mappers/noteFile-mapper.xml"/>
	</mappers>
</configuration>