<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<!-- <typeAlias type="com.semi.model.vo.User" alias="User" /> -->
		<typeAlias type="com.recoa.model.vo.Guest" alias="Guest" />
		<typeAlias type="com.recoa.model.vo.ReserveGuest" alias="ReserveGuest" />
	</typeAliases>

	<!-- 쿼리문 -->
	<mappers>
		<!-- <mapper resource="mappers/qnaAnswer-mapper.xml"/> -->
		<mapper resource="mappers/guest-mapper.xml" />
		<mapper resource="mappers/reserveguest-mapper.xml" />
	</mappers>
</configuration>