@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SDMiSaeng';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SDMiSaeng.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#header {
    position: absolute;
    z-index: 1;
    width: 100%;
    border-bottom:1px solid black;
}
#content{
	position:relative;
	z-index:0;
	height:100vh;
	padding-top:10vh;
	display:flex;
	align-items:center;
	margin:0 50px;
}
	
#content>#userSideBar{
	height:80%;
	width:15%;
	margin-left : 10%;
	margin-right:5%;
}

#content>#container{
	width: 75%;
	height:80%;
    display: flex;
    flex-direction: column;
    margin-right: 10%;
}

#container>h3{
	font-size : 1.7rem;
	font-weight:bold;
	margin : 20px;
	font-family: 'GangwonEdu_OTFBoldA';
}
table{
   width:100%;
   height:420px;
   font-family: 'GangwonEdu_OTFBoldA';
   font-size : 1.2rem;
   thead{
      height: 8%;
         border-bottom: 1px solid black;
         color : gray;
         tr{
         	font-family: 'GangwonEdu_OTFBoldA';
         }
   }
   tr{
      display: grid;
        grid-template-columns: 0.5fr 1fr 1.8fr 1fr 0.7fr;
        width: 100%;
        text-align: center;
        
          a:hover{
             color : gray;
          }
        
   }
   
   tbody{
   
      height: 100%;
        display: grid;
        grid-template-rows: repeat(10, 1fr);
        margin-top: 15px;
        tr{
        	font-family: 'SDMiSaeng';
        	font-size:1.3rem;
        }
   }
   button{
   		height: 15px;
   		margin-bottom: 5px;
   }
}
#paging{
	width: 100%;
	ul{
		width: 100%;
	    display: flex;
	    flex-direction: row;
	    font-family: 'GangwonEdu_OTFBoldA';
	}
}

.pagination{
	display: flex;
	align-items: center;
	margin: 0 auto;
	
	justify-content: space-evenly;
	padding-top: 25px;
    width: 100%;
    position: relative;
}
#userFloating{
	position: fixed;
    z-index: 1;
    bottom: 6%;
    right: 4%;
}
tr td{
	overflow:hidden
}