@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SDMiSaeng';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SDMiSaeng.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#header{
	position:absolute;
	z-index:1;
	width:100%;
	border-bottom:1px solid black;
}
#content{
	position:relative;
	z-index:0;
	height:100vh;
	padding-top:10vh;
	margin:0 50px;
	display:flex;
	justify-content:center;
	align-items:center;
}
#content #container{
	display:flex;
	flex-direction:column;
	align-items:center;
	height:90%;
	width:60%;
	padding : 20px;
}
#container h3{
	margin: 20px 0;
    font-size: 2rem;
    font-family: 'GangwonEdu_OTFBoldA';
}
#container form{
	display:flex;
	flex-direction:column;
	border:1px solid black;
	height:100%;
	width:80%;
	border-radius:10px;
}
form div#data{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85%;
    margin-top: 25px;
    
}
form div #freeTitle{
	width:75%;
	height:15%;
	font-family: 'SDMiSaeng';
	 font-size:1.5rem;

}
form div #freeContent{
	width:75%;
	height:55%;
	margin: 18px 0;
	 font-family: 'SDMiSaeng';
	 font-size:1.5rem;
	 resize:none;
	 overflow-y:scroll;
}
form div #file{
	width:75%;
}
form div.btn{
	height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#imgBtn {
	display:flex;
	button{
		 font-family: 'GangwonEdu_OTFBoldA';
		 padding-top:5px;
		 border-radius:7px;
		 margin : 0 10px;
		 border:none;
	}
}

#imgBtn button:hover{
 	background-color : black;
 	color : white;
 }
.btn button{	
	margin : 0 10px;
	font-family: 'GangwonEdu_OTFBoldA';
	padding-top:5px;
	border-radius:7px;
	border: 1px dashed black;
}
.btn button:hover{
	border: none;
}
img{
	width:100px;
	height:100px;
	margin : 10px;
}
#userFloating{
	position: fixed;
    z-index: 1;
    bottom: 6%;
    right: 4%;
}