@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SDMiSaeng';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SDMiSaeng.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#header{
	position:absolute;
	z-index:1;
	width:100%;
	border-bottom:1px solid black;
}
#content{
	position:relative;
	z-index:0;
	height:100vh;
	padding-top:10vh;
	margin:0 50px;
}
#content #container{
	display:flex;
	flex-direction:column;
	align-items:center;
	width:100%;
	height:100%;
	padding-top:5%;
}
#containerHead{

	display:flex;
	justify-content:space-between;
	width:70%;
	height:5%;
	border-bottom : 1px dashed black;
	padding-bottom:15px;
	
	h3{
		font-family: 'GangwonEdu_OTFBoldA';
		font-size:1.4rem;
	}
	
	#btn button{
		border-radius:3px;
		border:none;
		font-family: 'SDMiSaeng';
		font-size:1rem;
	}
	#btn button:hover{
		background-color : black;
		color : white;
	}
}

#containerContents{
	width:70%;
	height:75%;
	font-family: 'GangwonEdu_OTFBoldA';
	border-bottom : 1px dashed black;
	padding-bottom:20px;
}
#topContents{
	width:100%;
	margin-top: 10px;
	margin-bottom:20px;
    display: flex;
    justify-content: space-between;
    color:gray;
    #writer{
    	display:flex;
    	
    	img{
    		border-radius:50%;
    		width:30px;
    		height:30px;
    		margin-right:10px;
    	}
    	#writerDetail{
    		display:flex;
    		flex-direction:column;
    	}
    }
    #writerRight i{
    	font-size:0.7rem;
    	font-wieght:light;
    }
    #writerRight #freeLike:hover{
    	cursor:pointer;
    	color : red;
    }
}
#bottomContents{
	#text{
		font-size:1.3rem;
	}
	#img{
		margin-top:30px;
		height:200px;
		img{
			width:200px;
			height:200px;
			margin:0 10px;
		}
	}

}
.click{
	color:red;
}
.clickNon{
	color : gray;
}
/*------------------------- 댓글 ----------------------------*/
#containerComments{
	width:55%;
	height:20%;
	margin-top:20px;
	display: flex;
    flex-direction: column;
    align-items: center;
	
	#writeComment{
		border:1px solid gray;
		border-radius : 10px;
		width: 75%;
		height : 50%;
		padding: 5px 10px;
		display: flex;
    	flex-direction: column;
		
		span{
			font-family: 'GangwonEdu_OTFBoldA';
			height: 35%;
			align-content: center;
		}
		
		form{
			display: flex;
   			height: 65%;
   			
			#freeCommentContent{
				border:none;
				width:100%;
				 font-family: 'SDMiSaeng';
				 font-size:1.2rem;
			}
			
			button{
				font-family: 'SDMiSaeng';
                font-size: 1rem;
                width: 8%;
                border: none;
                border-radius: 5px;
			}
		}
	}
	#viewCommentsBtn{
		width: 75%;
	    margin-top: 10px;
	    display: flex;
	    justify-content: right;
		
		span{
			font-family: 'SDMiSaeng';
            font-size: 1.2rem;
            margin-right:5px;
		}
	}
	
	#viewComments{
		
		width:75%;
		margin-top:10px;
		
		#commented{
			border-bottom: 0.5px dashed gray;
			padding-bottom:10px;
			margin-top:10px;
			
			#commentedTop{
				display:flex;
				justify-content: space-between;
				
				#commentDate{
					font-family: 'GangwonEdu_OTFBoldA';
    				font-size: 0.8rem;
				}
			}
			#commentedBottom{
				display:flex;
				justify-content: space-between;
				
				#bottomInfo{
					width:80%;
					input{
						width: 75%;
					    margin-left: 10px;
					    border-radius: 3px;
					}
				}
				
				span{
					font-size:0.9rem;
					font-family: 'GangwonEdu_OTFBoldA';
					margin-left: 10px;	
				}
				#bottomBtn{
					display:flex;
					
					button{
						font-family: 'SDMiSaeng';
		                font-size: 1rem;
		               	margin: 0 3px;
		                border: none;
		                border-radius: 5px;
					}
					button:hover{
						border:0.3px dashed black;
					}
				}
				#updateComment{
					form{
						display:flex;
					}
					input{
						font-family: 'SDMiSaeng';
						border: 1px solid black;
					}
					
					button{
						font-family: 'SDMiSaeng';
		                font-size: 1rem;
		               	margin: 0 3px;
		                border: none;
		                border-radius: 5px;
		                width:15%;
					}
					button:hover{
						border:0.3px dashed black;
					}
				}
			}
			
			#commentedWriter{
				display:flex;
				font-family: 'GangwonEdu_OTFBoldA';
				font-size:0.8rem;
				margin-bottom: 5px;
				img{
					border-radius:50%;
		    		width:23px;
		    		height:23px;
		    		margin-right:5px;
		    		border : 0.3px solid black;
				}
				#commentedWriterDetail{
					display:flex;
					flex-direction:column;
				}
			}
		
		}
	}
	
	
}
.fa-sort-down:hover{
	cursor:pointer;
}
.fa-sort-up:hover{
	cursor:pointer;
}

#commentPaging{
	margin-bottom : 20px;
	
	.pagination{
		display:flex;
		justify-content:center;
	}	
}
#userFloating{
	position: fixed;
    z-index: 1;
    bottom: 6%;
    right: 4%;
}
.fa-caret-right:hover{
	color : green;
}
.noView{
	display:none;
}
.yseView{
	display:block;
}
#registerBoardFreeCommentBtn:hover{
	cursor:pointer;
}