@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SDMiSaeng';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SDMiSaeng.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#header{
	position:absolute;
	z-index:1;
	width:100%;
	border-bottom:1px solid black;
}
#content{
	position:relative;
	z-index:0;
	height:100vh;
	padding-top:10vh;
	margin:0 50px;
}
#content #container{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	width:100%;
	height:100%;
}
#containerHead{
	display:flex;
	justify-content:space-between;
	width:70%;
	border-bottom : 1px dashed black;
	padding-bottom:15px;
}
#containerHead h3{
	font-family: 'GangwonEdu_OTFBoldA';
	font-size:1.7rem;
}
#containerHead #searchBoardFree{
	select{
		 font-family: 'SDMiSaeng';
		 font-size:1rem;
	} 
	option{
		font-size:1rem;
	}
	input{
		font-family: 'SDMiSaeng';
		 font-size:1rem;
	}
}
table{
	width:70%;
	height:60%;
	font-family: 'GangwonEdu_OTFBoldA';
	font-size : 1.2rem;
	thead{
		height: 8%;
   		border-bottom: 1px solid black;
   		color : gray;
   		
	}
	tr{
		display: grid;
        grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr;
        width: 100%;
        text-align: center;
        font-family: 'GangwonEdu_OTFBoldA';
        font-size : 1.2rem;
       	a:hover{
       		color : gray;
       	}
        
	}
	tbody{
		height: 100%;
        display: grid;
        grid-template-rows: repeat(10, 1fr);
        margin-top: 15px;
	}
}
#registerBtn{
	margin:15px 0;
	width:70%;
	display:flex;
	justify-content:right;
}
#registerBtn button{
	border-radius:3px;
	border:none;
	font-family: 'SDMiSaeng';
	font-size:1rem;
}
#registerBtn button:hover{
	background-color : black;
	color : white;
	cursor:pointer;
}

#paging{
	margin-top : 20px;
	width:40%;
	
	.pagination{
		width: 100%;
	    display: flex;
	    justify-content: space-evenly;
	}
}
#userFloating{
	position: fixed;
    z-index: 1;
    bottom: 6%;
    right: 4%;
}
#nickName:hover{
	color : green;
	cursor:pointer;
}
#nickNameNote{
	display: flex;
    justify-content: center;
}