form{
	width: 50%;
	border: 1px solid;
	border-radius: 10px;
	height: 60%;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form input, textarea{
	width: 80%;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

textarea{
	height: 100px;
	overflow: scroll;
}

#input{
	display: flex;
	flex-direction: column;
}