@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SDMiSaeng';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SDMiSaeng.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#header {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
}

#content{
	position:relative;
	z-index:0;
	height:100vh;
	padding-top:10vh;
	margin:0 50px;
	display:flex;
	flex-direction: column;
	align-items:center;
	justify-content: center;
	
	h1{
		font-family: 'GangwonEdu_OTFBoldA';
		font-size: 2rem;
	}
	
	form{
	width: 45%;
	border: 1px solid;
	border-radius: 10px;
	height: 75%;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    padding-top: 15px;
    font-family: 'GangwonEdu_OTFBoldA';
	}
	
	form input, textarea{
		width: 75%;
		margin: 10px auto;
		font-family: 'SDMiSaeng';
		display: flex;
	    flex-direction: column;
	    align-items: center;
	}
	
	form input, textarea::placeholder{
		font-size: 1.5rem;
	}
	
	input{
		height: 15%;
	}
	
	textarea{
		height: 85%;
		overflow-y: scroll;
		resize: none;
		font-size: 1.5rem;
	}
	

	
	#button-container {
	    width: 100%;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    gap: 10px;
	    margin-top: 10px;
	    position: relative;
	    
		#images {
		    width: 100%;
		    display: flex;
		    flex-dircetion: row;
		    align-items: center;
		    justify-content: center;

		}
		
		#imgButtons{
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
		    justify-content: center;
		}
	}
	
	
	
	#preview {
	    width: 100%;
	    text-align: center;
	    margin-top: 10px;
	    padding-top: 10px;
	    box-sizing: border-box;
	    position: relative;
	    
	}
	
	img {
	    width: 100px;
	    height: 100px;
	    margin: 0 10px;
	    border-radius: 5px;
	    object-fit: cover;
	}
	
	button {
	    width:70px;
	    font-family: 'GangwonEdu_OTFBoldA';
	    border: 2px solid;
	    border-radius: 5px;
	    margin: 5px;
	    cursor: pointer;
	    text-align: center;
	    display: inline-flex;
	    justify-content: center;
	    align-items: center;
	    padding: 7px 0px 2px 0px;
	}
	
	#input{
		display: flex;
		flex-direction: column;
		height: 50%;
	}
	
	#buttons{
		display: flex;
	    flex-direction: row;
	    justify-content: center;
	    margin-bottom: 20px;
	    margin-top: 5px;
	}
}

#userFloating{
	position: fixed;
    z-index: 1;
    bottom: 6%;
    right: 4%;
}