@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SDMiSaeng';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SDMiSaeng.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#noteSideBar{
	width: 80px;
    height: 35px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 7px;
	font-family: 'SDMiSaeng';
	font-size : 1rem;
	span:hover{
		color : black;
		cursor: pointer;
	}
}

#noteWrite{
	width: 50%;
    height: 60%;
    border: 1px solid black;
    border-radius: 10px;
    
    position: fixed;
    margin: 0 auto;
    left:26%;
    top: 0px;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 9999px;
    background-color: black;
    color: white;
    padding: 10px;
    font-family: 'SDMiSaeng';
}
#noteWriteInner{
	display: flex;
    flex-direction: column;
    height: 100%;
    h3{
    	height: 15%;
        font-size: 1.4rem;
        align-content: center;
        border-bottom: 1px dashed white;
        width: 30%;
    }
    form{
    	height: 85%;
        display: flex;
        flex-direction: column;
        
        
        #person{
        	display: flex;
            justify-content: space-around;
            height: 15%;
            align-items: center;
            font-family: 'SDMiSaeng';
    		font-size: 1rem;
    		
    		input{
    			font-family: 'SDMiSaeng';
    			font-size: 1.2rem;
    		}
        }
        #innerContents{
        	height: 70%;
		    display: flex;
		    flex-direction: column;
		   	font-family: 'SDMiSaeng';
		   
		    #noteTitle{
		    	height: 15%;
   				 margin-bottom: 10px;
   				 font-family: 'SDMiSaeng';
                font-size: 1.3rem;
		    }
		    #noteContent{
		    	height: 75%;
    			margin-bottom: 10px;
    			font-family: 'SDMiSaeng';
                font-size: 1.4rem;
		    }
		    #noteFile{
		    	margin-bottom:10px;
		    	font-family: 'SDMiSaeng';
                font-size: 0.8rem;
		    }
        }
        #innerBtn{
        	height: 15%;
		    display: flex;
		    justify-content: center;
		    
		    button{
		    	height: 75%;
    			margin: 0 5px;
    			font-family: 'SDMiSaeng';
   				font-size: 1rem;
   				width: 55px;
                border: 1px solid white;
                border-radius: 5px;
		    }
		    button:hover{
		    	cursor:pointer;
		    	color : black;
		    	background-color:white;
		    	border : 1px solid black;
		    }
        }
        
    }
}
.noteWriteInnerNo{
	display: flex;
    flex-direction: column;
    justify-content:center;
    height: 100%;
    span{
    	font-family: 'SDMiSaeng';
    	font-size: 1.2rem;
    	text-align: center;
        margin-bottom: 30px;
    }
    div{
    	display:flex;
    	justify-content: center;
    	button{
    		height: 75%;
   			margin: 0 5px;
   			font-family: 'SDMiSaeng';
  			font-size: 1.2rem;
            padding-bottom: 5px;
    	}
    }
}


#nowChatting{
	position: fixed;
    z-index: 1;
    bottom: 6%;
    left: 3%;
   	width: 15%;
    height: 50%;
    border-radius:5px;
}
