@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#sideBar{
	border-radius : 30px;
	width:100%;
	height:100%;
	background-color : #e1f1fa;
}
#sideBar>ul{
	display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding : 30px 10px;
}
#sideBar a{
	font-family: 'GangwonEdu_OTFBoldA';
}
#sideBar>ul>li:nth-child(1){
	height:40%;
}
#sideBar>ul>li:nth-child(2){
	height:30%;
}
#sideBar>ul>li:nth-child(3){
	height:30%;
}
#sideBar ul li a:hover{
	color : gray;
}